/* ::selection{
  Property: value;
} */
body{
  background-image: url(fuji.jpg);
  background-size: cover;
}
h2,p{
  color: rgb(155, 1, 122);
  text-align: center;
  border: 5px solid rgba(78, 80, 199, 0.747);
  cursor: pointer;
}
p{
  color: green;
}
li{
  list-style: none;
  display: inline-block;
}
.webtext{
  border: 5px dashed green;
}
.active{
  color: royalblue;
}
#div1{
  background: rgba(0, 0, 255, 0.2);
}
#div2{
  background: rgba(255, 0, 0, 0.2);
}